.counter{
    background-color: aquamarine;
    width: 60%;
    height: auto;
    margin: 0 auto;
}
.counter div{
    font-size: 24px;
    margin: 20px;
    padding: 20px;
    font-weight: 700;
}
.counter .btn {
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: bold;
}